{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text list</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js"></script>
</head>
<body>
    <div class="container-fluid" data-ng-app="textApp" data-ng-controller="textController">
        <h3>Text items</h3>
        <ul class="list-group">
          <ul>
              <li class="list-group-item" data-ng-repeat="item in textItems"><span data-ng-bind="item.text"></span></li>
          </ul>
          <ul data-uib-pagination data-ng-model="currentPage" data-total-items="totalItems" data-ng-change="onPageChanged()"></ul>
        </ul>
        <button class="btn btn-default" data-toggle="collapse" data-target="#new-text">New text</button>
        <div id="new-text" class="collapse">
            <form name="textForm">
                <div class="form-group">
                    <textarea name="newText" data-ng-required="true" data-ng-model="newText" class="form-control" rows="5"></textarea>
                </div>
                <button data-ng-disabled="textForm.newText.$error.required" class="btn btn-warning" data-ng-click="createText()">Save</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'text_api_demo/js/main.js' %}"></script>
</body>
</html>
